.header {
  display: flex;
  align-items: center;
  background: purple;
  height: 70px;
  position: sticky;
  top: 0;
}
.container {
  display: flex;
  margin: 0px 100px 0px 100px;
}

.button_small {
  background: cyan;
  height: 30px;
  width: 150px;
  margin-left: 10px;
}

.button_large {
  background: cyan;
  height: 30px;
  width: 250px;
  margin-left: 10px;
}

.main {
  flex-grow: 4;
  background: yellow;
  height: 500px;
}

.aside {
  flex-grow: 1;
  background: green;
  height: 500px;
}

.footer {
  flex-grow: 1;
  background: grey;
  height: 80px;
  margin: 0px 100px 0px 100px;
}