.main {
  font-family: 'Sen';
}

div {
  display: flex;
}

section {
  width: 200px;
  text-align: center;
}

a {
  display: block;
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: lime;
  text-decoration: none;
}

img {
  width: 150px;
}